.sous-Menu{
    background: url("../images/sous-menu.png") no-repeat;
    background-size: contain;
}

.ContinairePlats::-webkit-scrollbar,
.sitatuschaf::-webkit-scrollbar{
    display: none;
}

.Resetvation{
    background:  url("../images/logo-reserv.png") no-repeat;
    background-size: cover;

}
